# Ignore everything
*

# Except these files:
!.gitignore
!couple_universal.R
!couple_universal_handler.R
!gsea.R
!do_dif_expr.sh
!start_diff_expression.R
!di.dn200.sig.txt
!geo_table.tsv
!countGSEfromGEOtable.R
!downloadGSE.R

!copy_data_from_apredeus.ipynb
!download_data_from_ncbi.ipynb
!download_data_from_ncbi_2.ipynb
!download_ncbi_data.ipynb
!download_geo_data.ipynb
!find_duplicates_files.ipynb
!list_platforms.csv
!list_platforms_for_download.txt
!list_series.csv
!list_series_for_download.txt
!series_vs_platforms.csv
!urls_series_and_platforms_full_list.csv
!full_list_urls_series.csv
!full_list_urls_platforms.csv


!gse_without_gpl.txt
!list_gpl.csv
!list_url_gpl.csv
!match_gpl_to_series.ipynb
!genequery_post_requests.ipynb
!add_kind_and_title_to_series.ipynb
!platforms.txt
!rest_gpl.txt
!rest_series_vs_gpl.csv
!series.txt
!series_vs_platforms.csv
!new_series_vs_platforms.csv
!create_table_gse_path_vs_gpl_path.ipynb
!series_vs_gpl_tsv.csv
!gpl.txt


!get_list_series.R
!list_all_gpl.txt
!list_current_gpl.txt
!read_gpl.R
!read_gpl_handler.R


!series_vs_gpl_tsv_with_kind.csv

!*/
.Rproj.user
